main #graficos {
    float: right; 

    width: 55%; 
    height: 360px; 

    margin-bottom: 48px; 
    margin-top: 48px; 
    margin-right: 3%;
}

main #informacoes {
    float: left; 

    width: 38%; 
    height: 360px; 

    margin-bottom: 48px; 
    margin-top: 48px; 
    margin-left: 3%;
}

tbody th{
    background-color: #59a4dc;

    width: 35%;
    
}

tbody, td, th, tr {
    border: 1px solid black !important;
    width: 35%;
}

table {

    margin-top: 48px;
}