/**** COMFIGURAÇÕES GERAIS DAS PAGINAS***/

/*** PÁGINA PADRÃO ***/
html{
  scroll-behavior: smooth;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

footer {
  background-color: rgb(22, 117, 170);
  padding: 2px 0 2px 0;
  color: rgb(255, 255, 255);
}

/** AREA DE MENUS PADRÃO **/

nav.navbar {
  background-color: rgb(22, 117, 170);
}

/** ICONES **/
.fas, .far{
  margin: 0 5px 0 5px;
}

img.logo {
    height: 50px;
}

/*** CONFIGURAÇÕES PAGINA #HOME ***/
#carouselhome {
  padding: 10px 0;
}
/** CONFIGURAÇÕES DOS CARDS ***/
#services .card {
  background-color: #1675aa;
  margin-left: 5px;
}

#services .card-title {
  font-size: 36px;
  text-align: center;
  color: white;
}

#services .card-text {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}


/*** BOTÕES PARA OS CALCULOS ***/
#services .botao {
  border: 2px solid white;
  font-weight: bold !important;
  text-align: center;
}

/*** CONFIGURAÇÕES CALCULO 01 ***/
input#nomeVariavel,
#dadosVariavel {
  width: 60%;
}
/*** CONFIGURAÇÕES DAS TABELAS ***/

table {
  text-align: center;
}
thead{
  background-color: #59a4dc;
}

#total {
  background-color:  #004a7b;
  color: white;
}

.tabelafreq #corpo tr:hover  {
  background-color: aqua !important; 
}   

.tabelaMMM #corpo2 tr:hover{
  background-color: aqua !important;
}

.tabela3 #corpo3 tr:hover{
  background-color: aqua !important; 
}

/**** BOTÃO DE UPLOAD ****/

/* #myChart {
  width: max-content;
  height: max-content;
} */


.correlacao {
  width: 50%;
  text-align: center;
  

  margin: 0 auto;
  margin-top: 20px;
}